<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="icon" href="https://png.pngtree.com/svg/20160520/chef_hat_466367.png">
  <title>Pipe Cleaner</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

  <link href="stylesheets/style.css" rel="stylesheet">

  <style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Montserrat', sans-serif;

        {
          {
           !-- background-color: #025677;
          --
        }
      }

      color: #fff;
    }

    .container {
      padding: 30px 50px;
    }

    #search-form {
      width: 30%;
      margin: 0 auto;
      position: relative;
    }

    #search-form input {
      width: 100%;
      font-size: 1.5rem;
      padding: 10px 15px;
      border: 2px solid #ccc;
      border-radius: 2px;
    }

    #search-form button {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;
      outline: none;
      border: none;
      width: 3rem;
      text-align: center;
      font-size: 1.75rem;
      cursor: pointer;
      color: #333;
    }

    .info {
      margin-top: 0.5rem;
      text-align: center;
      font-size: 0.75rem;
    }

    @media (max-width: 1200px) {
      #search-form {
        width: 50%;
      }
    }

    @media (max-width: 768px) {
      .container {
        padding: 30px 35px;
      }

      #search-form {
        width: 100%;
      }

      .info {
        font-size: 0.5rem;
      }
    }
  </style>
</head>

<body>
  {{{body}}}
</body>

</html>