<nav style="background-color: #f0fbff" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
  <a href="#"><img src="/images/logo.png" alt="Pipe Cleaner Logo"></img></a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>

<div class="container">
    <div class="columns">
    <div class="column is-one-fourth"></div>
      <div class="column is-half sign-up">
        <h2 class="has-text-centered title is-2">Login</h2>
        <form class="login">
          <div class="field">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="input" id="email-input" placeholder="Email">
          </div>
          <div class="field">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="input" id="password-input" placeholder="Password">
          </div>
          <button type="submit" class="button submit-btn is-link is-outlined">Submit</button>
        </form>
        <br />
        <p>Or <strong>sign up </strong><a href="/">here</a></p>
      </div>
      <div class="column is-one-fourth"></div>
    </div>
  </div>


  <script type="text/javascript" src="js/login.js"></script>
