<nav style="background-color: #f0fbff" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <img src="/images/logo.png" alt="">

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>
<div style="margin-left: 25px;" class="columns">
  <div class="column is-one-quarter">
    <aside class="menu">
      <ul class="menu-list">
        <li><a class="is-active">Home</a></li>
        <p class="menu-label">Meals</p>
        <li><a href="/meals">Input Your Meals</a></li>
        <li><a>Past Meals</a></li>
      </ul>
      <p class="menu-label">
        Watchlist
      </p>
      <ul class="menu-list">
        <ul>
          <a>Healthy Choices</a>
          <li><a>Nutrition Info</a></li>
          <li><a>Foods to Watchout for</a></li>
          <li><a>Add a member</a></li>
        </ul>
    </aside>
  </div>

    <section class="column is-three-quarters">
      <h1 style="margin-bottom: 100px;">Welcome <span class="title member-name"></span></h1>
        <br>
        <div class="box addMeal">
          <div class="field">
            <h2 class="title">Enter your last meal and some of its ingredients:</h2>
            <button class="button is-medium is-link is-light" id="create-meal">Add Meal</button>
          </div>
        </div>
        <br>
        <div class= "box ingredientAdd" style="display: none">
          <h2 class="title">Enter ingredients you'd like to track:</h2>
              <form id="ingredients-form">
                <input class="input addIngredient" type="input" placeholder="Enter an ingredient"><button type="submit" class="button is-link is-light add-ingredient">Add An Ingredient</button>
              </form>
            </div>
        </div>
        <div class="box ingredients"></div>
    </section>
</div>




<script type="text/javascript" src="js/meals.js"></script>