<nav style="background-color: #f0fbff" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="/members"><img src="/images/logo.png" alt="Pipe Cleaner Logo"></img></a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>
<div class="columns">
  <div class="column is-one-quarter">
    <h4 class="title is-4 menu-title">What would you like to do?</h4>
    <aside class="menu">
      <ul class="menu-list">
        <li><a href="/members">Home</a></li>
        <p class="menu-label">Meals</p>
        <li><a class="is-active" href="/meals">Enter Your Meals</a></li>
        <li><a href="/past-meals">Past Meals</a></li>
      </ul>
      <p class="menu-label">
        Watchlist
      </p>
      <ul class="menu-list">
        <ul>
          <a>Healthy Choices</a>
          <li><a>Nutrition Info</a></li>
          <li><a href="/watchlist">Foods to Watchout for</a></li>
        </ul>
    </aside>
  </div>

    <section class="column is-three-quarters">
      <div class="box addMeal">
        <div class="field add-meal">
          <h3 class="title is-3">What was in your last meal?</h3>
          <button class="button is-large is-link is-light" id="create-meal">Add Meal</button>
        </div>
      </div>
      <br>
      <div class= "box ingredientAdd" style="display: none">
        <h3 class="title is-3">Enter ingredients to track:</h3>
            <form id="ingredients-form">
              <input class="input addIngredient" type="input" placeholder="Enter an ingredient"><button type="submit" class="button is-medium is-link is-light add-ingredient">Add An Ingredient</button>
            </form>
          </div>
          <div class="box ingredients"></div>
      </div>
    </section>
</div>

<div class="footer"></div>

<script type="text/javascript" src="js/meals.js"></script>
<script type="text/javascript" src="js/members.js"></script>