<nav style="background-color: #f0fbff" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <img src="/images/logo.png" alt="">

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>
<div style="margin-left: 25px;" class="columns">
  <div class="column is-one-quarter">
    <aside class="menu">
      <ul class="menu-list">
        <li><a>Home</a></li>
        <p class="menu-label">Meals</p>
        <li><a href="/meals">Input Your Meals</a></li>
        <li><a>Past Meals</a></li>
      </ul>
      <p class="menu-label">
        Watchlist
      </p>
      <ul class="menu-list">
        <ul>
          <a class="is-active">Healthy Choices</a>
          <li><a>Nutrition Info</a></li>
          <li><a>Foods to Watchout for</a></li>
          <li><a>Add a member</a></li>
        </ul>
    </aside>
  </div>
  <div style="margin-right: 100px;" class="column">
     

    <h1 style="margin-bottom: 100px;">Welcome <span class="member-name"></span></h1>
      <br>
      <div class="containter addMeal">
          <div class="field">
          <p>Enter your last meal and some of its ingredients:</p>
          <button class="button is-light" id="create-meal">Add Meal</button>
        </div>
      </div>
      <br>

      <h1>Enter The Ingredients You'd Like To Track</h1>
      <div class="ingredients">
        <input class="input addIngredient" type="input" ><button type="submit" class="button  is-outlined
        add-ingredient">Add</button>
        <div>Ingredient 1: Celery<button class="button is-link is-outlined add-ingredient">Add</button></div>
        <div>Ingredient 1: Chicken<button class="button is-link is-outlined add-ingredient">Add</button></div>
        </div>
        <button class="button is-link is-light" id="add-ingredient">Add An Ingredient</button>
      </div>
  </div>
</div>




<script type="text/javascript" src="js/meals.js"></script>