<nav style="background-color: #f0fbff" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="/members"><img src="/images/logo.png" alt="Pipe Cleaner Logo"></img></a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>
<div class="columns">
  <div class="column is-one-quarter">
    <h4 class="title is-4 menu-title">What would you like to do?</h4>
    <aside class="menu">
      <ul class="menu-list">
        <li><a class="is-active" href="/members">Home</a></li>
        <p class="menu-label">Meals</p>
        <li><a href="/meals">Input Your Meals</a></li>
        <li><a href="/past-meals">Past Meals</a></li>
      </ul>
      <p class="menu-label">
        Watchlist
      </p>
      <ul class="menu-list">
        <ul>
          <a>Healthy Choices</a>
          <li><a>Nutrition Info</a></li>
          <li><a href="/watchlist">Foods to Watchout for</a></li>
        </ul>
    </aside>
  </div>

    <section class="column is-three-quarters">
      <h1 class="title is-1">Welcome <span class="title member-name"></span></h1>

      <div class="box">
        <h2 class="title is-2">Latest Meal:</h2>
          <div class="recent-meal"></div>
      </div>
    </section>
</div>

<div class="footer"></div>

<script type="text/javascript" src="js/members.js"></script>