<nav  style="background-color: #f0fbff" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
  <img src="/images/logo.png" alt="">

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>

<div class="container">
    <div class="columns">
      <div class="column is-one-fourth"></div>
      <div class="column is-half ">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
      <div class="column is-one-fourth"></div>
    </div>
  </div>

  <script type="text/javascript" src="js/members.js"></script>
