* {
  box-sizing: border-box;
  font-size: large;
}

/* body {
  background-color:;
} */

form.signup,
form.login {
  margin-top: 5%;
}

#email-input,
#login-input,
#password-input {
  width: 90%;
}

nav {
  background-color: #3298dc;
}

.navbar {
  border-bottom: solid 2px #bf0a0a;
  box-shadow: 2px 1px 15px gray;
}

.sign-up {
  /* margin-left: 15px; */
  padding: 25px;
  margin: 10% 5% 30% 5%;
  border: 4px solid #bf0a0b;
  border-radius: 5px;
  box-shadow: 10px 10px 15px lightgray;
}

.login-link {
  color: #369add;
}

h1 {
  margin: 2%;
}

h6 {
  margin: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h4 {
  text-align: center;
}

.menu-title {
  margin-top: 2%;
}

.is-three-quarters {
  margin: auto;
}

.is-one-quarter {
  margin-top: 2%;
  margin-left: 2.5%;
  box-shadow: 2px 1px 15px lightgray;
  border-radius: 5px;
}

.past-meals {
  margin-top: 2%;
}

.is-warning,
.is-danger {
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
}

.box {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 85%;
  padding: 10%;
}

.addMeal {
  margin-top: 2%;
}

.add-meal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-items: center;
}

#create-meal {
  margin-left: 20%;
  width: 60%;
}

#watchlist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-items: center;
}

.add-ingredient {
  margin-top: 10px;
}

/* .addIngredient {
  width: 80%;
} */

.ingredientAdd {
  display: flex;
  flex-wrap: wrap;
}

.ingredients {
  display: flex;
  flex-direction: column;
}