* {
  box-sizing: border-box;
  font-size: large;
}

/* body {
  background-color:;
} */

form.signup,
form.login {
  margin-top: 50px;
}

nav {
  background-color: #3298dc;
}

.navbar {
  border-bottom: solid 2px #bf0a0a;
  box-shadow: 2px 1px 15px gray;
}

.sign-up {
  padding: 20px;
  margin: 15% 5% 30% 5%;
  border: 4px solid #bf0a0b;
  border-radius: 5px;
  box-shadow: 10px 10px 15px lightgray;
}



h1 {
  margin: 2%;
}

h6 {
  display: flex;
  justify-content: center;
}

h4 {
  text-align: center;
}

.is-three-quarters {
  margin: auto;
}

.is-one-quarter {
  margin-top: 2%;
  margin-left: 2%;
  box-shadow: 2px 1px 15px lightgray;
  border-radius: 5px;
}

.past-meals {
  margin-top: 2%;
}

.is-warning,
.is-danger {
  margin: 3px;
}

.box {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 85%;
  padding: 10%;
}

.addMeal {
  margin-top: 2%;
}

.add-ingredient {
  margin-top: 10px;
}

.addIngredient {
  width: 80%;
}

